@media screen and (min-width: 660px) {
  .add-book {
    width: 10%;
  }

  .book {
    background-color: cornsilk;
    width: 35%;
    margin-left: 30%;
    height: 5%;
}

form {
    width: 45%;
    height: 85%;
}

#remove-book-form {
    margin-top: 15%;
    width: 35%;
    margin-left: 30%;
}
#remove-book-btn {
    width: 45%;
    margin-left: 10%;
}
}
