*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    background-color: brown;
}
#logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}
#logo p{
    margin-top: 0px;
    margin-left: 5px;
margin-bottom: 10px;
}
#logo img{
    width: 7vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
}
.menu-items{
    margin-right: 25px;
    margin-top: 25px;
    
}
.menu-items a{
    margin:15px;
}
.add-center img{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 5vw;
}

.main-body{
   background-color: crimson;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: chocolate;
    width: 25vw;
    height: 65vh;
    margin-top: 60px;
    padding: 20px;
}
#submit-btn{
    align-self: flex-end;
}